<div class="background">
    <div class="login">
        <div class="form emailMsgBox">
            <div class="login-form">
                <p class="emailMsg msgOne">Verification mail send to your Email Account ...</p>
                <p class="emailMsg msgTwo">Please verify the link in Your G-mail Account to continue.....</p>
            </div>
        </div>
    </div>
</div>