<div class="container">

    <lottie-player
        src="https://assets10.lottiefiles.com/packages/lf20_afwjhfb2.json"
        background="transparent"
        class=""
        speed="1"
        style="width: auto; height: 30rem;"
        loop
        autoplay
    ></lottie-player>
    <pre>{{error.stack}}</pre>
</div>
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>