<div class="main">
    <div class="container-div">
        <nav>
            <ul>
                <li><a href="/" class="logo">
                        <img src="images/dashboard-logo.png" alt="" />
                        <span class="nav-item">DashBoard</span>
                    </a></li>
                <li><a href="/"><i class="fas fa-home"></i>
                        <span class="nav-item">Home</span></a></li>
                <li><a href="/myprofile"><i class="fas fa-user"></i>
                        <span class="nav-item">Profile</span></a></li>
                <li><a href=""><i class="fas fa-wallet"></i>
                        <span class="nav-item">Wallet</span></a></li>
                <li><a href=""><i class="fas fa-chart-bar"></i>
                        <span class="nav-item">Analytics</span></a></li>
                <li><a href=""><i class="fas fa-tasks"></i>
                        <span class="nav-item">Tasks</span></a></li>
                <li><a href=""><i class="fas fa-cog"></i>
                        <span class="nav-item">Settings</span></a></li>
                <li><a href=""><i class="fas fa-question-circle"></i>
                        <span class="nav-item">Help</span></a></li>
                <li><a href="/logout" class="logout"><i class="fas fa-sign-out-alt"></i>
                        <span class="nav-item">Logout</span></a></li>
            </ul>
        </nav>
        <section class="main-view">
            <div class="main-top">
                <h2>Skills</h2>
                <i class="fas fa-user-cog"></i>
            </div>
            <div class="main-skills">
                <div class="card card-color">
                    <i class="fas fa-laptop-code"></i>
                    <h3>Javascript</h3>
                    <p>Javascript Browser Language</p>
                    <div style="text-align: center ;">
                        <button class="button">
                            View</button>
                    </div>
                </div>

                <div class="card  card-color">
                    <i class="fas fa-laptop-code"></i>
                    <h3>React js</h3>
                    <p>React js Front-end Library</p>
                    <div style="text-align: center ;">
                        <button class="button">View</button>
                    </div>
                </div>

                <div class="card  card-color">
                    <i class="fas fa-laptop-code"></i>
                    <h3>Node js</h3>
                    <p>Node js Server Language</p>
                    <div style="text-align: center ;">
                        <button class="button">View</button>
                    </div>
                </div>

                <div class="card  card-color">
                    <i class="fas fa-laptop-code"></i>
                    <h3>Mongo Db</h3>
                    <p>Mongo Db Database</p>
                    <div style="text-align: center ;">
                        <button class="button">View</button>
                    </div>
                </div>
            </div>

            <section class="projects">
                <div class="main-top">
                    <h2>My Projects</h2>
                    <i class="fas fa-user-cog"></i>
                </div>
                <div class="main-skills">
                    <div class="card project-card  card-color">
                        <i class="fas fa-laptop-code"></i>
                        <h4>eCommerce</h4>
                        <p>Technologies Used :-</p>
                        <ul class="myprojects">
                            <li>HandleBars</li>
                            <li>Javascript</li>
                            <li>Node js</li>
                            <li>Mongo Db</li>
                        </ul>
                        <div style="text-align: center ;">
                            <button class="button project-button">View</button>
                        </div>
                    </div>

                    <div class="card  card-color">
                        <i class="fas fa-laptop-code"></i>
                        <h4>User Management</h4>
                        <p>Technologies Used :-</p>
                        <ul class="myprojects">
                            <li>React Js</li>
                            <li>JWT Tokens</li>
                            <li>Node js</li>
                            <li>Mongo Db</li>
                        </ul>
                        <div style="text-align: center ;">
                            <button class="button project-button">View</button>
                        </div>
                    </div>

                    <div class="card  card-color">
                        <i class="fas fa-laptop-code"></i>
                        <h4>BookMy Show</h4>
                        <p>Technologies Used :-</p>
                        <ul class="myprojects">
                            <li>HTML</li>
                            <li>CSS</li>
                            <li>Git</li>
                        </ul>
                        <div style="text-align: center ;">
                            <button class="button project-button">View</button>
                        </div>
                    </div>

                    <div class="card  card-color">
                        <i class="fas fa-laptop-code"></i>
                        <h4>Spotify</h4>
                        <p>Technologies Used :-</p>
                        <ul class="myprojects">
                            <li>HTML</li>
                            <li>CSS</li>
                            <li>Git</li>
                        </ul>
                        <div style="text-align: center ;">
                            <button class="button project-button">View</button>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </div>
</div>